.tittle {
  font-family: sans-serif;
  position: relative;
  font-weight: bold;
}

.container {
  width: 98vw;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
